@import "rotations";

$blue: #23b7fb;
$purple: #4e2b63;
$yellow: #fcd116;
$black: #000;
$off-black: #222;
$dark-gray: #444;
$med-gray: #999;
$light-gray: #ddd;
$off-white: #f6f6f6;
$white: #fff;
$base-spacing: 16px;
$box-shadow: 0 2px 12px rgba(#000, 0.3);

$cube-length: 400px;
$cube-animation-time: 6s;

html, body, {
  margin: 0;
  padding: 0;
}

.dashboard {
  width: 100%;
  height: 100%;
  position: absolute;

  .dashboard__sidebar, .dashboard__gallery {
    position: absolute;
    height: 100%;
  }

  .dashboard__sidebar {
    left: 0;
    width: 30%;
    background: $white;
  }

  .dashboard__header {
    padding: $base-spacing;
    height: 20%;
    text-align: center;

    img {
      width: 40%;
      height: 100%;
      display: inline-block;
    }
  }

  .dashboard__gallery {
    right: 0;
    width: 70%;
    background: $blue;

    .dashboard__scene {
      position: relative;
      width: $cube-length;
      height: $cube-length;
      margin: auto;
      top: 50%;
      transform: translateY(-50%);
      perspective: 600px;
    }
  }

  .dashboard__stats {
    margin: $base-spacing * 2 0;
    text-align: center;
  }

  .dashboard__notifications .card:first-of-type {
    margin-top: 64px;
  }
}

.card {
  width: 80%;
  max-width: 600px;
  height: 128px;
  overflow: hidden;
  margin: $base-spacing auto;
  background-color: $light-gray;
  box-shadow: $box-shadow;
  transition: all 1s ease;

  .card__photo, .card__body {
    display: inline-block;
  }

  .card__photo {
    width: 128px;
    height: 128px;
    float: left;
  }

  .card__body {
    padding: $base-spacing;
    max-width: 50%;

    h1 {
      font-size: 42px;
      font-size: 1.5vw;
    }

    p {
      font-size: 24px;
      font-size: 1vw;
      line-height: 1vw;
    }
  }

  &.-campaign_signup {
    background-color: $yellow;
  }

  &.-campaign_reportback {
    background-color: $purple;
    color: $white;

    h1 {
      color: $white !important;
    }
  }

  &.-user_register {
    img {
      background-color: black;
    }
  }
}

.cube {
  width: inherit;;
  height: inherit;
  position: relative;
  transform-style: preserve-3d;
  animation: idle 4s infinite;

  &.-flip_0 {
    animation: rotate_360-all $cube-animation-time;
  }

  &.-flip_1 {
    animation: rotate_360_neg-all $cube-animation-time;
  }

  &.-flip_2 {
    animation: rotate_180-y $cube-animation-time;
  }

  &.-flip_3 {
    animation: rotate_180_neg-y $cube-animation-time;
  }

  &.-flip_4 {
    animation: rotate_180-x $cube-animation-time;
  }

  &.-flip_5 {
    animation: rotate_180_neg-x $cube-animation-time;
  }

  // do the rest
  // then fix the JS to use them all

  .cube__face {
    width: inherit;
    height: inherit;
    position: absolute;
    background-color: $white;
    border: 1px solid $off-black;

    img {
      width: inherit;
      height: inherit;
      padding: $base-spacing
    }

    &.-front {
      transform: translate3d(0, 0, $cube-length / 2);
    }

    &.-back {
      transform: rotateY(180deg) translate3d(0, 0, $cube-length / 2);
    }

    &.-left {
      transform: rotateY(-90deg) translate3d(0, 0, $cube-length / 2);
    }

    &.-right {
      transform: rotateY(90deg) translate3d(0, 0, $cube-length / 2);
    }

    &.-top {
      transform: rotateX(-90deg) translate3d(0, 0, $cube-length / 2);
    }

    &.-bottom {
      transform: rotateX(90deg) translate3d(0, 0, $cube-length / 2);
    }
  }
}
