# Ignore configuration files that may contain sensitive information.
mb-config.inc
mb-secure-config.inc

# Ignore composer working files
composer.phar
composer.lock
/vendor/

# Ignore testing working files
tests/phpunit.xml

# Ignore config settings with sensitive account creds
config.inc

# Ignore OSX system files
.DS_Store

# Ignore Node modules folder
node_modules

variables.env
