<!DOCTYPE html>
<html lang="en">
  <head>
    <title>DoSomething.org Realtime Dashboard</title>
    <meta charset="UTF-8" />

    <link rel="stylesheet" type="text/css" href="forge.css">
    <link rel="stylesheet" type="text/css" href="main.css">
  </head>
  <body>

    {{{body}}}

    <script src="/socket.io/socket.io.js"></script>

    <!-- Required for React -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/babel-core/5.8.34/browser.min.js"></script>
    {{#if (isTrue production)}}
      <script src="https://fb.me/react-15.2.0.min.js"></script>
      <script src="https://fb.me/react-dom-15.2.0.min.js"></script>
    {{else}}
      <script src="https://fb.me/react-15.2.0.js"></script>
      <script src="https://fb.me/react-dom-15.2.0.js"></script>
    {{/if}}
    <script src="js/react/stats.js" type="text/babel"></script>
    <script src="js/react/cards.js" type="text/babel"></script>

    <!-- Required for Forge -->
    <script src="https://code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous"></script>
    <script src="modernizr.js"></script>
    <script src="forge.js"></script>

    <!-- Required for the Globe -->
    <script src="//d3js.org/d3.v3.min.js"></script>
    <script src="//d3js.org/topojson.v1.min.js"></script>
    <script src="js/globe.js"></script>

    <script src="js/main.js"></script>

  </body>
</html>
