<div class="dashboard">
  <div class="dashboard__sidebar">
    <div class="dashboard__header">
      <a href="http://dosomething.org"><img src="/images/logo.svg"></a>
      <canvas id="globe"></canvas>
    </div>
    <div id="stats" class="dashboard__stats"></div>
    <div id="notifications" class="dashboard__notifications"></div>
  </div>
  <div id="gallery" class="dashboard__gallery"></div>
</div>
