<div class="dashboard">
  <div class="dashboard__sidebar">
    <div class="dashboard__header">
      <img src="/images/logo.svg">
      <canvas id="globe"></canvas>
    </div>
    <div id="notifications" class="dashboard__notifications"></div>
  </div>
  <div id="gallery" class="dashboard__gallery"></div>
</div>
