@font-face {
    font-family: 'Proxima Nova Light';
    font-weight: 400;
    src: url('../fonts/Proxima Nova/ProximaNova-Light.otf');
}

@font-face {
    font-family: 'Proxima Nova SBold';
    font-weight: 600;
    src: url('../fonts/Proxima Nova/ProximaNova-Sbold.otf');
}

@font-face {
    font-family: 'Proxima Nova Bold';
    font-weight: 700;
    src: url('../fonts/Proxima Nova/ProximaNova-Bold.otf');
}

*, *:before, *:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html, body {
    height: 100%;
}

html {
    font-size: 62.5%;
}

body {
    font: 300 1.8rem/1.6875 'Proxima Nova Light';
    font: 300 18px/1.6875 'Proxima Nova Light';
    text-align: center;
    background: #ECECEC;
}

h1, h2, h3, h4, h5, h6, ul, ol, blockquote, p {
    margin: 0 0 20px;
    margin: 0 0 2rem;
}

ul, ol {
    padding-left: 40px;
    padding-left: 4rem;
}

#counter {
    padding-left: 0;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 300;
}

h1 {
    font-size: 48px;
    font-size: 4.8rem;
}

h2 {
    font-size: 32px;
    font-size: 3.2rem;
}

h3 {
    font-size: 26px;
    font-size: 2.6rem;
}

h4 {
    font-size: 24px;
    font-size: 2.4rem;
}

img {
    display: block;
    width: 100%;
    margin: 0 auto;
}

.padding {
    padding: 20px;
    padding: 2rem;
}

#title {
    background: #23B7FB;
}

#title h1 {
    font-family: 'Proxima Nova Bold';
    display: inline-block;
    margin: 0 0 0 20px;
    margin: 0 0 0 2rem;
    font-size: 130px;
    font-size: 13rem;
    color: white;
    vertical-align: middle;
}

#title img {
    max-width: 250px;
    max-width: 25rem;
    display: inline-block;
    vertical-align: middle;
}

#feed .tableCell {
    overflow: auto;
}

.box {
    width: 200px;
    height: 200px;
    line-height: 200px;
    margin: 5px;
    padding: 10px;
    word-wrap: break-word;
    font-size: 24px;
    float: left;
}

.box span {
    display: inline-block;
    vertical-align: middle;
    line-height: normal;
}

.box.image {
    padding: 0;
}

.box.image img {
    display: inline-block;
    vertical-align: middle;
    line-height: normal;
    height: 100%;
    width: 100%;
}

#counts h1 {
    font-family: 'Proxima Nova Bold';
    font-size: 80px;
    font-size: 8rem;
    color: white;
    margin-bottom: -20px;
    margin-bottom: -2rem;
}

#counts {
    background: url(../img/counter-background.jpg) no-repeat 0 0 fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#campaigns .tableCell > .wrapper {
    display: table;
    height: 100%;
    width: 100%;
}

.staff-pick {
    display: table-cell;
    height: 100%;
    vertical-align: middle;
}

.staff-pick .stats {
    padding: 20px;
    padding: 2rem;
    width: 40%;
    display: inline-block;
    vertical-align: middle;
}

.staff-pick .stats h1, .staff-pick .stats h3 {
    margin: 0;
}

.staff-pick .stats h1 {
    font-size: 80px;
    font-size: 8rem;
    font-family: 'Proxima Nova Bold';
    color: #03B4F4;
    margin-top: -30px;
    margin-top: -3rem;
}

.staff-pick .stats h3 {
    text-transform: uppercase;
    font-family: 'Proxima Nova SBold';
    font-size: 30px;
    font-size: 3rem;
}

.staff-pick .tile--wrapper {
    width: 60%;
    max-width: 600px;
    display: inline-block;
    vertical-align: middle;
}

.tile > .wrapper {
    display: block;
    overflow: hidden;
    background-color: #000;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
}

.tile {
    height: 0;
    padding-bottom: 100%;
    position: relative;
}

.tile > .wrapper:before {
    bottom: 0;
    content: "";
    display: block;
    height: 100%;
    position: absolute;
    width: 100%;
    z-index: 5;
    background: rgba(0, 0, 0, 0);
    background-image: -webkit-linear-gradient(rgba(0, 0, 0, 0) 40%, rgba(0, 0, 0, 0.2) 70%, rgba(0, 0, 0, 0.5) 87%, rgba(0, 0, 0, 0.85) 100%);
    background-image: linear-gradient(rgba(0, 0, 0, 0) 40%, rgba(0, 0, 0, 0.2) 70%, rgba(0, 0, 0, 0.5) 87%, rgba(0, 0, 0, 0.85) 100%);
}

.tile img {
    display: block;
    width: 100%;
    z-index: 1;
}

.tile .tile__meta {
    bottom: 0;
    color: #fff;
    padding: 0 20px;
    padding: 0 2rem;
    position: absolute;
    width: 100%;
    z-index: 10;
}

.tile .__flag {
    text-align: left;
    font-family: 'Proxima Nova SBold';
    color: #000;
    background: #FACC3A;
    position: absolute;
    top: 0;
    left: 0;
    padding: 10px;
    padding: 1rem;
    text-transform: uppercase;
    z-index: 15;
}

.tile .__title {
    font-family: 'Proxima Nova Bold';
    text-align: left;
    margin: 0;
}

.tile .__tagline {
    color: inherit;
    font-size: 0.9em;
    line-height: 1;
    margin: 0;
}

.tile .__title,
.tile .__tagline {
    text-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
}

.name {
    font-weight: 900;
    display: inline;
    font-family: "Proxima Nova Bold";
}

#upcoming-events .events {
    padding: 0;
    margin: 0 auto;
    list-style: none;
    max-width: 60%;
}

#upcoming-events .events p {
    margin: 0;
}

#upcoming-events .events li {
    overflow: auto;
    padding: 20px;
    padding: 2rem;
    margin-bottom: 10px;
    margin-bottom: 1rem;
}

#upcoming-events .events .date {
    float: left;
    width: 30%;
    text-align: center;
    padding-right: 5px;
}

#upcoming-events .events .date .day {
    font-size: 32px;
    font-size: 3.2rem;
}

#upcoming-events .events .date .month {
    margin-top: -10px;
    margin-top: -1rem;
}

#upcoming-events .events .date .time {
    margin-top: -5px;
    margin-top: -0.5rem;
}

#upcoming-events .events .info {
    float: left;
    width: 70%;
    padding-left: 5px;
}

#upcoming-events .events .info h2 {
    margin: 10px 0 0 0;
    font-family: "Proxima Nova SBold";
}

#campaign-title {
    font-weight: 700;
}

@media only screen and (max-width: 760px) {
    .staff-pick figure {
        width: 100%;
        max-width: 400px;
        margin: 20px;
        margin: 2rem;
        display: block;
        position: relative;
    }

    .staff-pick .stats {
        padding: 20px;
        padding: 2rem;
        width: 100%;
        display: block;
    }

    #upcoming-events .events .date {
        float: none;
        width: 100%;
        padding: 0;
    }

    #upcoming-events .events .info {
        float: none;
        width: 100%;
        border: none !important;
        padding: 10px 0 0 0;
        padding: 1rem 0 0 0;
    }
}

@media only screen and (min-width: 320px) and (max-width: 480px) {
    html {
        font-size: 55%;
    }

    #title h1 {
        font-size: 80px;
        font-size: 8rem;
    }

    #title img {
        max-width: 200px;
        max-width: 20rem;
    }
}

@media only screen and (min-width: 1824px) {
    html {
        font-size: 65%;
    }
}
