@font-face {
    font-family: 'Proxima Nova Light';
    src: url('../fonts/Proxima Nova/ProximaNova-Light.otf');
}

@font-face {
    font-family: 'Proxima Nova SBold';
    src: url('../fonts/Proxima Nova/ProximaNova-Sbold.otf');
}

@font-face {
    font-family: 'Proxima Nova Bold';
    src: url('../fonts/Proxima Nova/ProximaNova-Bold.otf');
}

*, *:before, *:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html,body {
    height: 100%;
}

html {
    font-size: 62.5%;
}

body {
    font: 300 1.8rem/1.6875 'Proxima Nova Light';
    font: 300 18px/1.6875 'Proxima Nova Light';
    text-align: center;
    background: #ECECEC;
}

h1, h2, h3, h4, h5, h6, ul, ol, blockquote, p {
    margin: 0 0 20px;
    margin: 0 0 2rem;
}

ul, ol {
    padding-left: 40px;
    padding-left: 4rem;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 300;
}

h1 {
    font-size: 48px;
    font-size: 4.8rem;
}

h2 {
    font-size: 32px;
    font-size: 3.2rem;
}

h3 {
    font-size: 26px;
    font-size: 2.6rem;
}

h4 {
    font-size: 24px;
    font-size: 2.4rem;
}

.wrapper {
    margin: 0 auto;
    padding: 20px;
    padding: 2rem;
}

#title h1 {
    font-family: 'Proxima Nova SBold';
    display: inline-block;
    margin: 20px 0 0 0;
    margin: 2rem 0 0 0;
    font-size: 60px;
    font-size: 6rem;
}

#title img {
    width: 100%;
    max-width: 300px;
    display: inline-block;
    vertical-align: middle;
}

#feed .box {
    display: inline-block;
    width: 200px;
    height: 200px;
    line-height: 200px;
    margin: 5px;
    margin: 0.5rem;
    padding: 10px;
    padding: 1rem;
    word-wrap: break-word;
    font-size: 24px;
    font-size: 2.4rem;
}

#feed .box span {
    display: inline-block;
    vertical-align: middle;
    line-height: normal;
}

#feed img {
    display: block;
    max-width: 100%;
    margin: 0 auto;
}

#counts h1 {
    font-family: 'Proxima Nova Bold';
    font-size: 60px;
    font-size: 6rem;
    color: #30b5f5;
}

#upcoming-events .events {
    padding: 0;
    margin: 0 auto;
    list-style: none;
    max-width: 750px;
}

#upcoming-events .events p {
    margin: 0;
}

#upcoming-events .events li {
    overflow: auto;
    border-left: 2px solid black;
    margin-bottom: 30px;
}

#upcoming-events .events .date {
    float: left;
    width: 30%;
    text-align: center;
}

#upcoming-events .events .date .day {
    font-size: 32px;
    font-size: 3.2rem;
}

#upcoming-events .events .date .month {
    margin-top: -10px;
    margin-top: -1rem;
}

#upcoming-events .events .date .time {
    margin-top: -5px;
    margin-top: -0.5rem;
}

#upcoming-events .events .info {
    float: left;
    width: 70%;
}

#upcoming-events .events .info h2 {
    margin: 10px 0 0 0;
}

@media screen and (max-width: 960px) {
    #title img {
        max-width: 200px;
    }

    #title h1 {
        font-size: 48px;
        font-size: 4.8rem;
    }
}
